WXT_PUBLIC_SUPABASE_URL=
WXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
WXT_PUBLIC_WEB_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
LEXYNC_APPLE_SMOKE=false
LEXYNC_APPLE_PROFILE_PATH=
LEXYNC_APPLE_LEARNER_EMAIL=
